language: android
jdk:
  - oraclejdk8

android:
  components:
    # The BuildTools version used by your project
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-google-m2repository
    - extra-android-m2repository
    
before_install:
    - chmod +x gradlew
    
licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

